@import url('https://fonts.googleapis.com/css?family=Allerta|Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://i.pinimg.com/originals/54/9c/ba/549cba493ead8370127687056066d20d.jpg);
  background-attachment: fixed;
  /* background-size: cover; */
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Allerta';
  text-transform: uppercase;
  padding-bottom: 2%;
  letter-spacing: 2px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

#outer {
  width: 100%;
  text-align: center;
}

.classIcon {
  display: inline-block;
  /* margin-right: 5px; */
}

.class-box {
  display: inline-block;
}

.bigBox {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  border: 1px solid #f8f8f8;
  /* background-color: #f8f8f8; */
  background-color: rgba(255,255,255,.9);
  padding: 5%;
  border-radius: 5%;
  border: 0px solid #F8D7D6;
}

.heroBox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0px 15px 0px;
}

.heroIconStyle {
  display: inline-block;
  padding: 5px;
}

.heroIcon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.chooseHero {
  font-family: 'Allerta';
  padding-top: 4%;
  font-size: 12px; 
  text-transform: uppercase;
}

.chooseHero::before {
  content: '';
  background-image: url('https://k.nickpic.host/vT9m1z.png');
  background-size: 10px 10px;
  display: inline-block;
  margin-right: 5px;
  width: 10px; 
  height: 10px;
}

.chooseHero::after {
  content: '';
  background-image: url('https://k.nickpic.host/vT9m1z.png');
  background-size: 10px 10px;
  display: inline-block;
  margin-left: 5px;
  width: 10px; 
  height: 10px;
}

.infoBox ul {
  list-style-type: none;
  margin-top: 20px;
}

.infoBox li {
  font-family: 'Raleway';
}

.infoBox li .hName {
  font-weight: bold;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.infoBox li .hRole {
  margin-top: 5px; 
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}

.infoBox li .hAbilities {
  margin-top: 15px; 
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}

@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
}

.wobble:hover {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  /* box-shadow: 5px 5px 10px grey;
  border-radius: 50%; */
}